html, body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', sans-serif;
}

.container {
	max-width: 1200px;
}

header, footer {
	background-color: black;
	color: white;
	padding: 20px 0 20px;
}

.logo {
	width: 200px;
	float: left;
}

.tag-line {
	padding-top: 10px;
	text-align: right;
	color: orange;
}

nav {
	background-color: #0cf743;
	border-radius: 0px;
	font-family: 'Oswald', sans-serif;
}

.nav ul, footer ul li {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
}

.nav a, footer a {
	color: white;
	text-align: center;
}

.nav-pills li.active a,.nav-pills li.active a:hover,.nav-pills li.active a:focus {
    background-color: orange;
}

.nav-pills li a {
	border-radius: 0px;
}

.nav-pills li a:hover {
	background-color: orange;
}

main {
	background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1Y69ONYCCZ.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	height: 550px;
	padding-top: 80px;
	text-align: left;
}

main .container .col-md-5 h1 span, section .container .col-md-8 h3 span, section .container .col-md-4 h3 span {
	border-bottom: solid 2px #0cf743;
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 70px;
	padding: 10px 0 15px;
}

section {
	background-color: #f2f2f2;
}

section h2, section h3 {
	padding-bottom: 20px;
}

.white-background, .black-background {
	margin: 40px 0 40px;
	padding: 20px;
}

.white-background {
	background-color: white;
}

.black-background {
	background-color: black;
	color: white;
}

.col-md-12 img {
	margin-bottom: 40px;
}

footer li, .pull-right {
	padding: 20px 30px;
	font-family: 'Oswald', sans-serif;

}

footer a:hover {
	color: orange;
	text-decoration: none;
}

.pull-right {
	text-align: right;
}
